<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="GeekIronic">
        <title>Document</title>
        <link rel="stylesheet" href="/css/index-pri.css">
    </head>
    <body>
        <section class="left-form" id="left-form">
            
        </section>
        <section class="right-from" id="right-from">
            <form action="/LoginPassport" method="post">
                <h2>Pasaporte - Login</h2>
                <label for="txt_TypeId">Tipo Identificación</label>
                <select name="txt_TypeId" id="txt_TypeId">
                    <option value="txt-TypeIdDefault" selected disabled>Seleccione el tipo de Identificación</option>
                    <% if (dataListTypeID){ %>
                          <% for (var i = 0; i < dataListTypeID.length; i++){ %>
                            <option value="<%= dataListTypeID[i].IdTipo %>"><%= dataListTypeID[i].TdNombre %></option>
                         <% } %> 
                   <% } %>
                </select>
                <label for="txt_Ident">Identificación</label>
                <input type="text" name="txt_Ident" id="txt_Ident">
                <div class="check">
                    <input type="checkbox" name="check_recordar" id="check_recordar">
                    <span>Recordar usuario</span>
                </div>
                <input type="submit" id="IngresarSesion" class="IngresarSesion" value="Ingresar">
            </form>
            <br>
        </section>
    </body>
</html>